.env
.idea/
.vscode/
.cgi-*/
vendor
logs
node_modules
composer.lock
composer_2.phar
Config/database/my_db.ini
public/uploads/
public/dist/
.history
.bak
#private/DB/modelagem_uml_entidade_relacionamentos.mwb.bak
package-lock.json
